tbody, tr, td{
    text-align: center;
    align-items: center;
}
.bi{
    margin: 1rem;
    cursor: pointer;
}
.bi-trash-fill{
    color: #f50000af;
}

.bi-pen-fill{
    color: rgba(210, 244, 250, 0.87);
}
#updateForm{
    padding: 2rem 1.5rem;
    width:700px;
    height: auto;
    position: absolute;
    top: 25rem;
    left: 33rem;
}
.form-select{
    margin: 2px;
    padding: 2px;
    text-align: center;
}

.bi-x-circle-fill{
    color: #0065fd;
    margin-top: 0;
    margin-left: 39.5rem;
}

  